@model ASP_NET_CORE_TEMPLATE.Models.StudentDetail
@{
    ViewData["Title"] = "Home Page";
}

 @if(Model != null){
     <p>
         @Model.Name
         sdsd
     </p>
 }else{
     <p>
         khong co 
     </p>
 }  